
	<%- include("partials/header")-%>
	<div id="cont">
 <hr class="featurette-divider">
<div class="block1"> 
	<p align="center"><font size="150px">___Contact me___</font></p>
<hr class="featurette-divider">	
</div>
</div></div>
<style type="text/css">
	#cont{
background: #CC95C0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
</style>
<div class="container" >
<p>
	phone number: +91 7892128329<br>
	email id: atulsingh.pks@gmail.com

</p>
<P>
	Follow me at instagram:
</P>

</div>
<%- include("partials/footer") -%>
