
	<%- include("partials/header")-%>
    <!-- START THE FEATURETTES -->
<style type="text/css">
  #headd{
    background-color: #B2FEFA;
  }



</style>
<div id="headd">
    <hr class="featurette-divider">
<div class="block1"> 
  <p align="center"><font size="150px">Things I have learnt so far!</font></p>
<hr class="featurette-divider"></div></div>
 <div class="block1">
<div class="container">    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted">Programming Languages:</span></h2>
        <p class="lead">Chasing the dream of being a programmer from an early age, I stand today certified in java SE 8.0. Apart from having an expertise in Java, I am also capable of coding in other known programming languages including Python and C++.
        </p>
      </div>
      <div class="col-md-5">
        <img src="https://media.karousell.com/media/photos/products/2018/12/20/java_python_nodejs_react_native_reactjs_angular_php_database_c_c_programming_assignment_project_for__1545315324_0a03869e0_progressive" width="500px" height="500px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><span class="text-muted">Web development:</span></h2>
        <p class="lead">Being a passion that emerged rather recently,I'm comfortable at using several tools like HTML, CSS, Bootstrap, Javascript, JQuery, NodeJS, ExpressJS and so on.The tools help me build any website from its front-end to its back-end! Several projects related to web-development that have been designed can be found at this repository:.  </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="http://www.hypezen.com/img/NodeJS-web-Development-300x300.png" width="500px" height="500px">

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted">Internet of Things:</span></h2>
        <p class="lead">IoT is simply the network of interconnected things/devices which are embedded with sensors, software, network connectivity and necessary electronics that enables them to collect and exchange data making them responsive. Have led teams in making several projects related to IoT using Arduino,Raspberry Pi,sensors and so on. Some of them can be seen here.</p>
      </div>
      <div class="col-md-5">
       <img src="https://images.idgesg.net/images/article/2019/02/iot_internet_of_things_mobile_connections_by_avgust01_gettyimages-1055659210_2400x1600-100788447-large.jpg" width="500px" height="500px">
      </div>
    </div>

    <hr class="featurette-divider">



<%- include("partials/footer") -%>
